.masonry-item {
  p {
    font-family: $font-opensans;
    font-size: 13px;
    line-height: 21px;
    color: #8d8c8c;
    font-weight: 400;
    overflow-x: hidden!important;
    -webkit-font-smoothing: antialiased;
  }
}
